*.class
*.jar
*.war
*.ear
*.orig
*.iml
*.ipr
*.iws
*.log
.gradle
.metadata
.classpath
.settings
.project
.bin
.idea
.nb-gradle-properties
.DS_Store
*Db.properties
*Db.script
stacktrace.log
/*.zip
/plugin.xml
/*.log
/*DB.*
/cobertura.ser
/target/
/out/
/build/
/bin/
/classes/
/target-eclipse/
/private/
/logs/
/web-app/plugins
/web-app/WEB-INF/classes
/.link_to_grails_plugins/
